@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply font-normal bg-[#221518] text-white overflow-x-hidden;
  }

  li {
    @apply list-none;
  }

  * {
    font-family: 'shabnam-normal', 'iranyekan-normal', "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  /* WebKit (Chrome, Safari) */
  ::-webkit-scrollbar {
    /* set hidden scrollbar */
    /* display: none; */
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-webkit-scrollbar-track {
    background: #221518;
  }

  ::-webkit-scrollbar-thumb {
    background: #4E342E;
    border-radius: 2px;
  }

  /* Firefox */
  ::-moz-scrollbar {
    @apply w-0.5 sm:w-1 md:w-2
  }

  ::-moz-scrollbar-track {
    background: #221518;
  }

  ::-moz-scrollbar-thumb {
    background: #4E342E;
    border-radius: 2px;
  }

  @font-face {
    font-family: "morvarid";
    src: url('/fonts/morvarid/Far_Morvarid.ttf');
  }

  @font-face {
    font-family: "iranYekan-normal";
    src: url('/fonts/iranYekan/IRANYekanX-Medium.ttf');
  }

  @font-face {
    font-family: "vazir-normal";
    src: url('/fonts/vazir/Vazirmatn-Medium.ttf');
  }

  @font-face {
    font-family: "shabnam-normal";
    src: url('/fonts/shabnam/font_normal.ttf');
  }
}

@layer components {
  .fontMorvarid {
    font-family: "morvarid", 'shabnam-normal', 'iranYekan-normal', "vazir-normal", "vazir-medium", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontVazir {
    font-family: "vazir-normal", "vazir-medium", 'shabnam-normal', 'iranYekan-normal', "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontIranYekan {
    font-family: "iranYekan-normal", "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .fontShabnam {
    font-family: "shabnam-normal", 'iranYekan-normal', "vazir-normal", "vazir-medium", "morvarid", Cambria, Cochin, Georgia, Times, serif, sans-serif, monospace !important;
  }

  .btn {
    @apply rounded-md sm:rounded-lg hover:rounded-sm hover:sm:rounded-md px-2.5 sm:px-3 md:px-4 lg:px-5 xl:px-6 py-1 sm:py-1.5 md:py-2 text-sm sm:text-base md:text-lg font-medium;
  }

  .btnSuccess {
    @apply text-white bg-green-500 hover:bg-green-600;
  }

  .btnError {
    @apply text-white bg-red-500 hover:bg-red-600 transition-all;
  }

  .btnPrimary {
    @apply text-white bg-sky-500 hover:bg-sky-600 transition-all hover:scale-[101%] active:scale-[99%] duration-150;
  }

  .btnBrown {
    @apply text-white bg-brown-900 hover:bg-[#221518] transition-all hover:scale-[101%] active:scale-[99%] duration-150;
  }

  .btnLightBrown {
    @apply text-white bg-brown-700 hover:bg-brown-800 transition-all hover:scale-[101%] active:scale-[99%] duration-150;
  }

  .h1 {
    @apply text-3xl;
  }

  .h2 {
    @apply text-2xl;
  }

  .icon {
    @apply text-xl hover:-translate-y-2 transition-all delay-100 text-slate-900 dark:text-slate-100 hover:text-sky-500;
  }

  .header {
    @apply text-xl lg:text-2xl hover:text-sky-500 transition-all;
  }

  .custom-animation {
    animation: translateAndBack 0.5s ease-in-out infinite alternate;
  }

  .custom-animation-rotate {
    animation: translateRotate360 1s ease-in-out 0.5s 1;
  }

  .shake1 {
    animation: shake1 1s ease-in-out infinite alternate;
  }

  .shake2 {
    animation: shake2 5s ease-in-out infinite alternate;
  }

  .shake3 {
    animation: shake3 10s ease-in-out infinite alternate;
  }

  .blink {
    animation: blink 1s ease-in-out infinite alternate;
  }

  .customBorderBottom {
    @apply rounded-xSmall sm:rounded-small md:rounded-medium lg:rounded-large xl:rounded-xLarge
  }

  @keyframes translateAndBack {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes translateRotate360 {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  @keyframes shake1 {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(20deg);
    }

    50% {
      transform: rotate(0eg);
    }

    75% {
      transform: rotate(-20deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }


  @keyframes shake2 {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }

    25% {
      transform: translate(20px, 20px) rotate(15deg);
    }

    50% {
      transform: translate(0, 0) rotate(0eg);
    }

    75% {
      transform: translate(-20px, 20px) rotate(-15deg);
    }

    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }

  @keyframes shake3 {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  @keyframes blink {
    0% {
      opacity: 0.5;
    }

    10% {
      opacity: 0.55;
    }

    20% {
      opacity: 0.6;
    }

    30% {
      opacity: 0.65;
    }

    40% {
      opacity: 0.7;
    }

    50% {
      opacity: 0.75;
    }

    60% {
      opacity: 0.8;
    }

    70% {
      opacity: 0.85;
    }

    80% {
      opacity: 0.9;
    }

    90% {
      opacity: 0.95;
    }

    100% {
      opacity: 1;
    }
  }

  .shadow-title {
    color: #fdf8f6;
    text-shadow: 1px 0px 1px #4E342E, 0px 1px 1px #f2e8e5, 2px 1px 1px #4E342E, 1px 0px 1px #f2e8e5, 4px 2px 1px #4E342E, 2px 3px 1px #f2e8e5, 1px 0px 1px #4E342E, 3px 2px 1px #f2e8e5, 0px 0px 1px #4E342E, 1px 2px 1px #f2e8e5, 1px 0px 1px #f2e8e5, 2px 2px 1px #4E342E;
  }

  .shadow-title-banner {
    color: #EFEBE9;
    text-shadow: 1px 0px 1px #A1887F, 0px 1px 1px #f2e8e5, 0px 1px 1px #A1887F, 1px 0px 1px #f2e8e5, 4px 2px 1px #A1887F, 1px 0px 1px #f2e8e5, 1px 0px 1px #A1887F, 3px 2px 1px #f2e8e5, 0px 0px 1px #A1887F;
  }

  .container {
    @apply mx-auto max-w-[1560px];
  }
}